<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Daftar cafe terbaik berdasarkan netizen">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/logo192.png">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
    <link rel="preconnect" href="https://storage.googleapis.com">
    <link rel="preload" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <title>Kafe Asik</title>
</head>
<body>
<a href="#cafes" class="skip-link" title="Menuju ke konten">Menuju ke konten</a>
<header>
    <app-header></app-header>
</header>
<main id="mainContent"></main>
<footer>
    <app-footer></app-footer>
</footer>
</body>
</html>
